name: publish

on:
  release:
    types: [published]

permissions:
  id-token: write  # Required for OIDC (publishing to NPM)
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: 'https://registry.npmjs.org'
      - run: npm install
      - run: npm test
      - run: npm run build
      - run: npm run prepack
      - run: npm publish
